@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-sheet::after {
    @apply absolute inset-x-0 h-screen bg-white;
    content: '';
    bottom: -100vh;
}

.bottom-sheet-transform {
    transition-property: transform, margin-bottom, padding-bottom;
    transition-timing-function: cubic-bezier(
        0.25,
        0.46,
        0.45,
        0.94
    ); /* ease-out quadratic (based on power of two) */
    transition-duration: 300ms;
}
